<template>
    <tr class="multifilters" >

        <td class="no margin-1">
            <input type="text" class="ui-border ui-radius-both heigh-1" v-model="filterParam.name" >
        </td>
        <td class="no margin-1">
            <input type="text" class="ui-border ui-radius-both heigh-1" v-model="filterParam.name_short" >
        </td>
        <td class="no margin-1">
            <select multiple class="multiselect" size="8" v-model="filterParam.category" v-if="extra">
                <option v-for="item in extra.categories" :key="item.id" :value="item.id" >{{item.name}}</option>
            </select>
        </td>
        <td class="no margin-1">
            <select multiple class="multiselect" size="8" v-model="filterParam.subcategory" v-if="extra">
                <option v-for="item in extra.subcategories" :key="item.id" :value="item.id" >{{item.name}}</option>
            </select>
        </td>
        <td class="no margin-1">
            <select multiple class="multiselect" size="8" v-model="filterParam.brand" v-if="extra">
                <option v-for="item in extra.brand" :key="item.id" :value="item.id" >{{item.name}}</option>
            </select>
        </td>
        <td class="no margin-1">
            <select multiple class="multiselect" size="8" v-model="filterParam.work_format" v-if="extra">
                <option v-for="item in extra.work_format" :key="item.id" :value="item.id" >{{item.name}}</option>
            </select>
        </td>
<!--        <td class="no margin-1">-->
<!--            <select multiple class="multiselect" size="8" v-model="filterParam.agreement_format" v-if="extra">-->
<!--                <option v-for="item in extra.agreement_format" :key="item.id" :value="item.id" >{{item.name}}</option>-->
<!--            </select>-->
<!--        </td>-->
        <td class="no margin-1">
            <select multiple class="multiselect" size="8" v-model="filterParam.stage" v-if="extra">
                <option v-for="item in extra.stage" :key="item.id" :value="item.id" >{{item.name}}</option>
            </select>
        </td>
        <td class="no margin-1">
            <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.dateStartFrom" > -
            <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.dateStartTo" >
        </td>
        <td class="no margin-1">
            <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.dateEndFrom" > -
            <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.dateEndTo" >
        </td>
        <td class="no margin-1">
            <select multiple class="multiselect" size="8" v-model="filterParam.nbsource" v-if="extra">
                <option v-for="item in extra.nbsource" :key="item.id" :value="item.id" >{{item.name}}</option>
            </select>
        </td>
        <td class="no margin-1">
            <select multiple class="multiselect" size="8" v-model="filterParam.nbformat" v-if="extra">
                <option v-for="item in extra.nbformat" :key="item.id" :value="item.id" >{{item.name}}</option>
            </select>
        </td>
        <td class="no margin-1">
<!--            <select multiple class="multiselect" size="8" v-model="filterParam.products" v-if="extra">-->
<!--                <option v-for="item in extra.products" :key="item.id" :value="item.id" >{{item.name}}</option>-->
<!--            </select>-->
        </td>

        <td class="no margin-1">
            <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.createdAtFrom" > -
            <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.createdAtTo" >
        </td>

        <td class="no margin-1">
            <v-select
                    v-if="extra"
                    v-model="filterParam.createdby"
                    :options="extra.users"
                    label="user_display"
                    :reduce="user_display => user_display.id"
            >
            </v-select>
        </td>

        <td class="no margin-1">
            <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.modifiedAtFrom" > -
            <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.modifiedAtTo" >
        </td>


        <td class="no margin-1">
            <v-select
                    v-if="extra"
                    v-model="filterParam.modifiedby"
                    :options="extra.users"
                    label="user_display"
                    :reduce="user_display => user_display.id"
            >
            </v-select>
        </td>

        <td class="no margin-1">
<!--            <v-select-->
<!--                    v-if="extra"-->
<!--                    v-model="filterParam.project_leader"-->
<!--                    :options="extra.users"-->
<!--                    label="user_display"-->
<!--                    :reduce="user_display => user_display.id"-->
<!--            >-->
<!--            </v-select>-->
        </td>
        <td class="no margin-1">
<!--            <v-select-->
<!--                    v-if="extra"-->
<!--                    v-model="filterParam.project_team"-->
<!--                    :options="extra.users"-->
<!--                    label="user_display"-->
<!--                    :reduce="user_display => user_display.id"-->
<!--            >-->
<!--            </v-select>-->
        </td>


        <td class="no margin-1">
            <select multiple class="multiselect" size="8" v-model="filterParam.units" v-if="extra">
                <option v-for="item in extra.units" :key="item.id" :value="item.id" >{{item.name}}</option>
            </select>
        </td>


        <td class="no margin-1">
            <input type="number" class="ui-border ui-radius-both heigh-1" v-model="filterParam.incomeFrom" > -
            <input type="number" class="ui-border ui-radius-both heigh-1" v-model="filterParam.incomeTo" >
        </td>
        <td class="no margin-1">
            <input type="number" class="ui-border ui-radius-both heigh-1" v-model="filterParam.outcomeFrom" > -
            <input type="number" class="ui-border ui-radius-both heigh-1" v-model="filterParam.outcomeTo" >
        </td>
        <td class="no margin-1">
            <input type="number" class="ui-border ui-radius-both heigh-1" v-model="filterParam.grossProfitFrom" > -
            <input type="number" class="ui-border ui-radius-both heigh-1" v-model="filterParam.grossProfitTo" >
        </td>
        <td class="no margin-1">
            <input type="number" class="ui-border ui-radius-both heigh-1" v-model="filterParam.grossProfitabilityFrom" > -
            <input type="number" class="ui-border ui-radius-both heigh-1" v-model="filterParam.grossProfitabilityTo" >
        </td>



        <td class="no margin-1">
            <select multiple class="multiselect" size="8" v-model="filterParam.isEditable"  v-if="extra">
                <option value="1" >Да</option>
                <option value="0" >Нет</option>
            </select>
        </td>



        </tr>
</template>

<script>
import axios from 'axios'
import cookies from "@/mixins/cookies";
import vSelect from 'vue-select'

export default {
    props: [],
    mixins: [cookies,],
    components: {
        'v-select': vSelect,
    },
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    mounted(){
        this.setDefault()
        this.getExtra();
    },
    data(){
        return{
            defaultFilterParam:{
                'category':[],
                'subcategory':[],
                'brand':[],
                'work_format':[],
                'agreement_format':[],
                'stage':[],
                'nbsource':[],
                'nbformat':[],
                'products':[],
                'units':[],
                'isEditable':[],
            },
            filterParam:{},
            extra:null,
            url:"/projects/api/extra",
        }
    },
    methods:{
        getExtra(){
            axios({
                method: 'get',
                url: this.url,
            })
            .then(response => {
                this.extra = response.data.extra;
            })
        },
        clean(){
            this.setDefault()
        },
        setDefault(){
            try {
                this.filterParam = JSON.parse(this.getCookie('project_interface_filter'))
            } catch (e) {
                this.filterParam = JSON.parse(JSON.stringify(this.defaultFilterParam))
            }
        },
    },
    watch:{
        filterParam:{
            deep: true,
            handler: function (newValue) {
                this.$emit('update:filter-param', newValue);
            },
        },
    },
}
</script>


