<template>
    <tbody>
        <tr
                v-for="el in instances"
                :key="el.id"
        >
            <td class="normal align-middle">
                <div class="d-flex flex-nowrap justify-content-between pr-2 align-items-center" v-bind:style="indentStyleObject(el)">
                    <router-link :to="{ name: 'Project', params: { projectId: el.id }}">
                            <div>
                              <span>{{ el.name }}</span>

                                <span class="normal">
                                    <button type="button" class="btn btn-sm btn-link" style="min-height: 25px;">
                                        <i class="far fa-pencil"></i>
                                    </button>
                                </span>
                            </div>
                    </router-link>
                </div>
            </td>
            <td class="normal align-middle">{{ el.name_short  }}</td>
            <td class="normal align-middle">{{ el.category_display  }}</td>
            <td class="normal align-middle">{{ el.subcategory_display | toNone }}</td>
            <td class="normal align-middle">{{ el.brand_display | toNone }}</td>
            <td class="normal align-middle">{{ el.work_format_display | toNone }}</td>
<!--            <td class="normal align-middle">{{ el.agreement_format_display | toNone}}</td>-->
            <td class="normal align-middle">{{ el.stage_display }}</td>
            <td class="normal align-middle">{{ el.project_start | toDate  | toNone}}</td>
            <td class="normal align-middle">{{ el.project_end | toDate  | toNone}}</td>
            <td class="normal align-middle">{{ el.nb_source | toNone}}</td>
            <td class="normal align-middle">{{ el.nb_format | toNone}}</td>
            <td class="normal align-middle">{{ el.products_full  | toNone}}</td>
            <td class="normal align-middle">{{ el.created_at   | toDate}}</td>
            <td class="normal align-middle">{{ el.created_by_display   | toNone}}</td>
            <td class="normal align-middle">{{ el.modified_at   | toDate}}</td>
            <td class="normal align-middle">{{ el.modified_by_display   | toNone}}</td>
            <td class="normal align-middle">{{ el.leader_display   | toNone}}</td>
            <td class="normal align-middle">{{ el.team_display   | toNone}}</td>
            <td class="normal align-middle">{{ el.units   | toNone}}</td>
            <td class="normal align-middle">{{ el.income   | toCurrency}}</td>
            <td class="normal align-middle">{{ el.outcome_ext  | toCurrency}}</td>
            <td class="normal align-middle">{{ el.gross_profit  | toCurrency}}</td>
            <td class="normal align-middle">{{ el.gross_profitability}}</td>
            <td class="normal align-middle">{{ el.is_editable_display }}</td>
        </tr>
    </tbody>
</template>

<script>

import axios from 'axios'
export default {
    props: [
        'paginator',
        'filterParam'
    ],
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    mounted(){
    },
    data(){
        return{
            instances:{},
            url:"/projects/api/",

        }
    },
    computed:{
        isReady(){
            if (Object.keys(this.paginator).length !==0 && Object.keys(this.filterParam).length !==0){
                return true
            } else{
                return false
            }
        },
    },
    methods:{
        getInstanceAll() {
            this.$emit('isloading');
            axios({
                method: 'get',
                url: this.url,
                params: {
                    offset: this.paginator.paginationOffset,
                    page: this.paginator.activePage,
                    filter:this.filterParam,
                }
            })
            .then(response => {
                this.instances = response.data.list;
                this.paginator.pages = response.data.total_pages;
                if (this.paginator.pages < this.paginator.activePage){
                    this.paginator.activePage = 1;
                }
                this.$emit('isloaded');
            })
        },
        indentStyleObject(el){
            var indent = el.idx * 20;
            return {
                paddingLeft: indent + 'px',
            }
        },
        detailLink(el){
            return "/projects/project/" + el.id + "/"
        },
    },
    watch:{
        isReady:function(newValue){
            if(newValue){
                this.$emit('isready');
            }
        }
    },
}
</script>

