<template>
    <section v-if="showModal" class="modal-container">
        <div class="modal-container-bg"  v-on:click="close"></div>
        <form class="modal"  v-on:submit.prevent="saveInstance">
            <img class="modal-close-btn" src='/static/documents/img/close_icon.svg' v-on:click="close">
                <div class="modal-header mb-3">
                    <h4>
                        {{wording.header.update}}
                    </h4>
                </div>

                <div class="modal-body">
                    <div style=" display: flex; flex-direction: column;">
                        <div >
                            <div class="row mt-2">
                                <div class="col-4">
                                    <label class="label1">
                                        Роль пользователя в проекте <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <select  class="ui-border ui-radius-no heigh-1 width-5" v-model="instance.role" v-if="extra" required>
                                        <option v-for="item in extra.team_role" :key="item.id" :value="item.id" >{{item.name}}</option>
                                    </select>                                </div>
                                <div class="col-8">
                                    <label class="label1">
                                        Пользователь <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <v-select
                                            v-if="extra"
                                            v-model="instance.user"
                                            :options="extra.users"
                                            label="user_display"
                                            :reduce="user_display => user_display.id"
                                    >
                                    </v-select>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer mt-3">
                    <button type="button" class="btn btn-outline-danger btn-lg pl-5 pr-5" v-on:click="close">{{wording.button.cancel}}</button>
                    <button
                            type="submit"
                            class="btn btn-success btn-lg pl-5 pr-5"
                             :disabled="submitDisabled"
                    >
                          <span
                            class="spinner-grow spinner-grow-sm"
                            style="vertical-align: baseline;
                            margin-bottom: -2px;"
                            role="status"
                            aria-hidden="true"
                            v-if="submitDisabled"
                        ></span>

                        {{wording.button.update}}</button>
                </div>
        </form>
    </section>
</template>

<script>

import axios from 'axios'
import $ from "jQuery";
import vSelect from 'vue-select'

export default {
    props: [
        'wording',
        'id',
    ],
    components: {
        'v-select': vSelect,
    },
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    mounted(){
        this.getExtra();
    },
    data(){
        return{
            instance:{},
            urlExtra:"/projects/api/extra",
            urlDetail: "/projects/api/team/",
            showModal: false,
            extra:null,
            message: {},
            submitDisabled: false,
        }
    },
    methods:{
        show(el){
            console.log('el', el)
            this.instance  = {};
            this.instance = {
                "id": el,
            };
            axios({
                method: 'get',
                url: this.urlDetail + this.instance.id + "/",
            })
            .then(response => {
                this.instance = response.data;
                this.showModal = true
                $("body").attr('class', 'modalopen')
                })
            .catch(function (response) {
                console.log(response);
            });

        },
        close(){
            this.showModal = false
            $("body").removeClass('modalopen')

        },
        getExtra(){
            axios({
                method: 'get',
                url: this.urlExtra,
            })
            .then(response => {
                this.extra = response.data.extra;
            })
        },
        saveInstance: function () {
            axios({
                method: 'put',
                url: this.urlDetail + this.instance.id + "/",
                data: this.instance,
            })
           .then(response => {
                this.message = {
                    status: 'success',
                    text: this.wording.message.updated,
                };
                this.$emit('send-message', this.message);
                this.$emit('update-team');
                this.submitDisabled = false;
                this.close()

            })
            .catch(error => {
                this.message = {
                    status: 'error',
                    text: 'Ошибка',
                };
                this.$emit('send-message', this.message);
                console.log(error.response);
            });


        },

    },
}
</script>

<style lang="scss">
  @import "@/scss/modal.scss";
</style>

