<template>
    <div class="w-100">
                <div class="row" id="profile">
                    <div class="col-6">
                        <div class="mb-4 d-flex flex-column">
                            <h1 class="display-3 mb-n4" style="float:none;">{{user.first_name}} {{user.last_name}}</h1>
                            <h4 class="display-4">{{user.email}}</h4>
                        </div>
                        <hr>
                        <div class="mb-4 d-flex flex-column">
                            <div><span class="font-weight-lighter">{{wording.body.joined}} — </span>{{user.joined_at}}</div>
                            <div v-if="user.unit"><span class="font-weight-lighter">{{wording.body.unit}} — </span>{{dbuser.unit}}</div>
                        </div>
                        <hr>
                        <div class="mt-4 d-flex flex-column">
                            <span class="mb-2"><span class="font-weight-lighter">{{wording.body.access_dashboard}} — </span>{{dbuser.access_app_dashboard_display}}</span>
                            <span class="mb-2"><span class="font-weight-lighter">{{wording.body.access_documents}}  — </span>{{dbuser.access_app_docs_display}}</span>
                            <span class="mb-2"><span class="font-weight-lighter">{{wording.body.access_settings}} — </span>{{dbuser.access_app_setup_display}}</span>
                            <span class="mb-2"><span class="font-weight-lighter">{{wording.body.access_projects}} — </span>{{dbuser.access_app_project_display}}</span>
                            <span class="mb-2"><span class="font-weight-lighter">{{wording.body.access_reports}} — </span>{{dbuser.access_app_reports_display}}</span>
                            <span class="mb-2"><span class="font-weight-lighter">{{wording.body.access_users}} — </span>{{dbuser.access_users_display}}</span>
                            <span class="mb-2"><span class="font-weight-lighter">{{wording.body.access_can_edit}} — </span>{{dbuser.access_can_block_display}}</span>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                        <div class="col-6">
                            <span class="text-black-50 ">*/ {{wording.body.alert}}</span>
                        </div>
                    </div>
    </div>
</template>

<script>

import axios from 'axios'
import moment from 'moment'


export default {
    props: [
        'paginator',
        'searchQuery',
        'wording',
    ],
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    mounted(){
        this.$emit('isready')
    },
    data(){
        return{
            user:{},
            dbuser:{},
            urlMainUser:"/setup/api/profile/main/",
            urlDBUser:"/setup/api/profile/",

        }
    },
    computed:{},
    methods:{
        getInstanceAll() {
            this.$emit('isloading');

            var requestDB = axios.get(this.urlDBUser);
            var requestMain = axios.get(this.urlMainUser);

            axios.all([requestDB, requestMain ]).then(axios.spread((...responses) => {
                var responseDB = responses[0]
                var responseMain = responses[1]
                this.user = this.format(responseMain.data)
                this.dbuser = this.format(responseDB.data)
                this.$emit('isloaded');
            })).catch(errors => {
                // react on errors.
            })
        },
        format(list){
            list.joined_at = moment(list.joined_at).format('YYYY-MM-DD')
            return list
        },
    },
    watch:{
        searchQuery: _.debounce(function(newValue){
            this.getInstanceAll()
        },500)
    },
}
</script>

