<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="google" value="notranslate"/>

    <link rel="icon" href="<%= BASE_URL %>../static/img/favicon.ico">
    <title>FinS | Financial CRM</title>



{#        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.4.1/dist/css/bootstrap.min.css' %}" />#}
{#        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css">#}
        <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>../static/css/fontawesome-all.css" />
        <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>../static/css/basic-preloader.css" />
{#        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />#}


  </head>
  <body class="app-mounting">
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

    <div class="loader-area basic-preloader">
        <div class="preloader">
            <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
    </div>

    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
