<template>
        <tr class="multifilters">
                <td class="no margin-1"><input type="text" class="ui-border ui-radius-both heigh-1" v-model="filterParam.name" ></td>

                <td class="no margin-1">
                    <select multiple class="multiselect" size="8" v-model="filterParam.type" v-if="extra">
                        <option value="1" >Доход</option>
                        <option value="0" >Расход</option>
                    </select>
                </td>

                <td class="no margin-1">
                    <select multiple class="multiselect" size="8" v-model="filterParam.status" v-if="extra">
                        <option v-for="status in extra.transaction_status" :key="status.id" :value="status.id" >{{status.name}}</option>
                    </select>
                </td>

                <td class="no margin-1">
                    <select multiple class="multiselect" size="8" v-model="filterParam.docRequest" v-if="extra">
                        <option v-for="request in extra.doc_request" :key="request.id" :value="request.id" >{{request.name}}</option>
                    </select>
                </td>

                <td class="no margin-1" >
                    <v-select
                            v-if="extra"
                            v-model="filterParam.subcontractor"
                            :options="extra.subcontractors"
                            label="name"
                            :reduce="name => name.id"
                    >
                    </v-select>
                </td>
                <td class="no margin-1">
                    <select multiple class="multiselect" size="8" v-model="filterParam.sub_type"  v-if="extra">
                        <option v-for="type in extra.subcontractor_type" :key="type.id" :value="type.id" >{{type.name}}</option>
                    </select>
                </td>
                <td class="no margin-1">
                    <select multiple class="multiselect" size="8" v-model="filterParam.purpose"  v-if="extra">
                        <option v-for="el in extra.purposes" :key="el.id" :value="el.id" >{{el.name}}</option>
                    </select>
                </td>

                <td class="no margin-1">
                    <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.dateFrom" > -
                    <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.dateTo" >
                </td>

                <td class="no margin-1">
                    <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.dateFactFrom" > -
                    <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.dateFactTo" >
                </td>

                <td class="no margin-1">
                    <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.dateDocFrom" > -
                    <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.dateDocTo" >
                </td>

                <td class="no margin-1">
                    <input type="number" class="ui-border ui-radius-both heigh-1" v-model="filterParam.sbtFrom" > -
                    <input type="number" class="ui-border ui-radius-both heigh-1" v-model="filterParam.sbtTo" >
                </td>

                <td class="no margin-1">
                    <input type="number" class="ui-border ui-radius-both heigh-1" v-model="filterParam.satFrom" > -
                    <input type="number" class="ui-border ui-radius-both heigh-1" v-model="filterParam.satTo" >
                </td>

                <td class="no margin-1">
                    <input type="number" class="ui-border ui-radius-both heigh-1" v-model="filterParam.taxeFrom" > -
                    <input type="number" class="ui-border ui-radius-both heigh-1" v-model="filterParam.taxeTo" >
                </td>

                <td class="no margin-1">
                    <select multiple class="multiselect" size="8" v-model="filterParam.taxeType"  v-if="extra">
                        <option v-for="el in extra.sub_taxe_type" :key="el.id" :value="el.id" >{{el.name}}</option>
                    </select>
                </td>

                <td class="no margin-1">
                    <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.agreementStartDateFrom" > -
                    <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.agreementStartDateTo" >
                </td>

                <td class="no margin-1">
                    <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.agreementEndDateFrom" > -
                    <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.agreementEndDateTo" >
                </td>

                <td class="no margin-1">
                    <input type="text" class="ui-border ui-radius-both heigh-1" v-model="filterParam.payDelayFrom" > -
                    <input type="text" class="ui-border ui-radius-both heigh-1" v-model="filterParam.payDelayTo" >
                </td>

                <td class="no margin-1">
                    <input type="text" class="ui-border ui-radius-both heigh-1" v-model="filterParam.delayedFrom" > -
                    <input type="text" class="ui-border ui-radius-both heigh-1" v-model="filterParam.delayedTo" >
                </td>

                <td class="no margin-1">
                    <select multiple class="multiselect" size="8" v-model="filterParam.paymodel"  v-if="extra">
                        <option v-for="el in extra.pay_model" :key="el.id" :value="el.id" >{{el.name}}</option>
                    </select>
                </td>

                <td class="no margin-1">
                    <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.actDateFrom" > -
                    <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.actDateTo" >
                </td>

                <td class="no margin-1">
                    <input type="text" class="ui-border ui-radius-both heigh-1" v-model="filterParam.comment" >
                </td>

                <td class="no margin-1">
                    <input type="text" class="ui-border ui-radius-both heigh-1" v-model="filterParam.estimationLink" >
                </td>

                <td class="no margin-1" >
                    <v-select
                            v-if="extra"
                            v-model="filterParam.projects"
                            :options="extra.projects"
                            label="name"
                            :reduce="name => name.id"
                    >
                    </v-select>
                </td>

                <td class="no margin-1">
                    <select multiple class="multiselect" size="8" v-model="filterParam.projectsCategory"  v-if="extra">
                        <option v-for="el in extra.projects_cat" :key="el.id" :value="el.id" >{{el.name}}</option>
                    </select>
                </td>

                <td class="no margin-1">
                    <select multiple class="multiselect" size="8" v-model="filterParam.projectsSubcategory"  v-if="extra">
                        <option v-for="el in extra.projects_subcat" :key="el.id" :value="el.id" >{{el.name}}</option>
                    </select>
                </td>

                <td class="no margin-1">
                    <select multiple class="multiselect" size="8" v-model="filterParam.brands"  v-if="extra">
                        <option v-for="el in extra.brands" :key="el.id" :value="el.id" >{{el.name}}</option>
                    </select>
                </td>

                <td class="no margin-1">
                    <input type="text" class="ui-border ui-radius-both heigh-1" v-model="filterParam.projectShortName" >
                </td>

                <td class="no margin-1">
                    <select multiple class="multiselect" size="8" v-model="filterParam.projectStage"  v-if="extra">
                        <option v-for="el in extra.project_stage" :key="el.id" :value="el.id" >{{el.name}}</option>
                    </select>
                </td>

                <td class="no margin-1">
                    <select multiple class="multiselect" size="8" v-model="filterParam.units"  v-if="extra">
                        <option v-for="el in extra.units" :key="el.id" :value="el.id" >{{el.name}}</option>
                    </select>
                </td>

                <td class="no margin-1">
                    <select multiple class="multiselect" size="8" v-model="filterParam.accounts"  v-if="extra">
                        <option v-for="el in extra.accounts" :key="el.id" :value="el.id" >{{el.name}}</option>
                    </select>
                </td>

                <td class="no margin-1">
                    <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.createdAtFrom" > -
                    <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.createdAtTo" >
                </td>

                <td class="no margin-1">
                    <v-select
                            v-if="extra"
                            v-model="filterParam.createdby"
                            :options="extra.users"
                            label="user_display"
                            :reduce="user_display => user_display.id"
                    >
                    </v-select>
                </td>

                <td class="no margin-1">
                    <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.modifiedAtFrom" > -
                    <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.modifiedAtTo" >
                </td>

                <td class="no margin-1">
                    <v-select
                            v-if="extra"
                            v-model="filterParam.modifiedby"
                            :options="extra.users"
                            label="user_display"
                            :reduce="user_display => user_display.id"
                    >
                    </v-select>
                </td>

                <td class="no margin-1">
                    <select multiple class="multiselect" size="8" v-model="filterParam.isHidden" v-if="extra">
                        <option value="True" >Да</option>
                        <option value="False" >Нет</option>
                    </select>
                </td>

                <td class="no margin-1">
                    <select multiple class="multiselect" size="8" v-model="filterParam.isEditable" v-if="extra">
                        <option value="True" >Да</option>
                        <option value="False" >Нет</option>
                    </select>
                </td>

        </tr>
</template>

<script>
import axios from 'axios'
import vSelect from 'vue-select'

export default {
    props: [
    ],
    components: {
        'v-select': vSelect,
    },
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    mounted(){
        this.filterParam = JSON.parse(JSON.stringify(this.defaultFilterParam))
        this.getExtra();
    },
    data(){
        return{
            defaultFilterParam:{
                    'type':[],
                    'status':[],
                    'docRequest':[],
                    'sub_type':[],
                    'purpose':[],
                    'taxeType':[],
                    'paymodel':[],
                    'projectsCategory':[],
                    'projectsSubcategory':[],
                    'brands':[],
                    'projectStage':[],
                    'units':[],
                    'accounts':[],
                    'isHidden':[],
                    'isEditable':[],
            },
            filterParam:{},
            extra:null,
            url:"/transactions/api/extra",
        }
    },
    methods:{
        getExtra(){
            axios({
                method: 'get',
                url: this.url,
            })
            .then(response => {
                this.extra = response.data.extra;
            })
        },
        clean(){
            this.filterParam = JSON.parse(JSON.stringify(this.defaultFilterParam))
        },
    },
    watch:{
        filterParam:{
            deep: true,
            handler: function (newValue) {
                this.$emit('update:filter-param', newValue);
            },
        },
    },
}
</script>


