<template>
    <tr >
        <th class="width-5 list">Номер транзакции</th>
        <th class="width-3 list">Тип транзакции</th>
        <th class="width-4 list">Статус транзакции</th>
        <th class="width-6 list">Статус запроса на документы</th>
        <th class="width-6 list">Контрагент</th>
        <th class="width-5 list">Тип контрагента</th>
        <th class="width-6 list">Назначение платежа</th>
        <th class="width-3 list">Системная дата</th>
        <th class="width-3 list">Фактическая дата оплаты</th>
        <th class="width-3 list">Дата оплаты по договору</th>
        <th class="width-4 list">Сумма транзакции до налогов</th>
        <th class="width-4 list">Сумма после налогов</th>
        <th class="width-4 list">Размер налога</th>
        <th class="width-3 list">Тип налога</th>
        <th class="width-3 list">Дата начала работ по договору</th>
        <th class="width-3 list">Дата завершения работ по договору	</th>
        <th class="width-3 list">Задержка для оплаты</th>
        <th class="width-3 list">Просрочка транзакции</th>
        <th class="width-4 list">Модель оплаты</th>
        <th class="width-3 list">Дата акта</th>
        <th class="width-5 list">Комментарий</th>
        <th class="width-5 list">Ссылка на смету</th>
        <th class="width-6 list">Проект</th>
        <th class="width-6 list">Категория проекта</th>
        <th class="width-5 list">Субкатегория проекта</th>
        <th class="width-4 list">Бренд</th>
        <th class="width-5 list">Короткое название</th>
        <th class="width-4 list">Этап</th>
        <th class="width-4 list">Юнит</th>
        <th class="width-4 list">Счет</th>
        <th class="width-3 list">Когда создан</th>
        <th class="width-8 list">Создан пользователем</th>
        <th class="width-3 list">Когда изменен</th>
        <th class="width-8 list">Изменен пользователем</th>
        <th class="width-2 list">Скрытая транзакция</th>
        <th class="width-2 list">Может быть отредактирован</th>
    </tr>
</template>

<script>
export default {
    data(){
        return{
        }
    },
    created(){
    },
    methods:{
    },
    watch:{

    },
}
</script>


