<template>
    <tbody>
        <tr
            v-for="el in instances"
            v-bind:key="el.id"
            v-bind:class="{ topay: el.status === 0, soon: el.status === 1, debt: el.status === 2, payed: el.status === 3}"
        >
                <td class="normal  align-middle" ><span class="name">{{ el.name }}</span>

                    <span class="update">
                        <button
                            type="button"
                            class="btn btn-sm btn-link ml-3"
                            style="padding: 0px 0px;"
                            v-on:click="$emit('update-instance', el.id)"
                        >
                            <i class="far fa-pencil"></i>
                        </button>
                    </span>
                    <span class="delete">
                        <button
                            type="button"
                            class="btn btn-sm btn-link px-0  ml-3"
                            style="padding: 0px 0px;"
                            v-on:click="$emit('delete-instance', el.id)"
                            v-if="el.is_deletable"
                        >
                            <i class="fas fa-trash"></i>
                        </button>
                    </span>


                </td>
                <td class="normal align-middle">{{ el.type_display }}</td>
                <td class="normal align-middle ">{{ el.status_display }}</td>
                <td class="normal align-middle">{{ el.doc_request_display }}</td>
                <td class="normal align-middle">{{ el.subcontractor_name }}</td>
                <td class="normal align-middle">{{ el.subcontractor_type }}</td>
                <td class="normal align-middle">{{ el.purpose_display }}</td>
                <td class="normal align-middle">{{ el.date | toDate}}</td>
                <td class="normal align-middle ">{{ el.date_fact |  toDate | toNone}}</td>
                <td class="normal align-middle">{{ el.date_doc | toDate  | toNone}}</td>
                <td class="normal align-middle">{{ el.sum_before_taxes  | toCurrency }}</td>
                <td class="normal align-middle">{{ el.sat | toCurrency }}</td>
                <td class="normal align-middle">{{ el.taxe | toCurrency  }}</td>
                <td class="normal align-middle">{{ el.subcontractor_taxe_type }}</td>
                <td class="normal align-middle">{{ el.agreement_start_date | toDate  | toNone}}</td>
                <td class="normal align-middle">{{ el.agreement_end_date | toDate  | toNone}}</td>
                <td class="normal align-middle">{{ el.pay_delay }}</td>
                <td class="normal align-middle">{{ el.delayed }}</td>
                <td class="normal align-middle">{{ el.pay_model_display }}</td>
                <td class="normal align-middle">{{ el.act_date | toDate | toNone}}</td>
                <td class="normal align-middle">{{ el.comment }}</td>
                <td class="normal align-middle">{{ el.estimation_link  }}</td>
                <td class="normal align-middle"><a :href=projectLink(el.project)>{{ el.project_display }}</a></td>
                <td class="normal align-middle">{{ el.project_category }}</td>
                <td class="normal align-middle">{{ el.project_subcategory | toNone}}</td>
                <td class="normal align-middle">{{ el.project_brand | toNone}}</td>
                <td class="normal align-middle">{{ el.project_name_short }}</td>
                <td class="normal align-middle">{{ el.project_stage }}</td>
                <td class="normal align-middle">{{ el.unit_display | toNone }}</td>
                <td class="normal align-middle">{{ el.account_display }}</td>
                <td class="normal align-middle">{{ el.created_at | toDate  | toNone}}</td>
                <td class="normal align-middle">{{ el.created_by_display | toNone }}</td>
                <td class="normal align-middle">{{ el.modified_at | toDate  | toNone}}</td>
                <td class="normal align-middle">{{ el.modified_by_display  | toNone}}</td>
                <td class="normal align-middle">{{ el.hidden_display }}</td>
                <td class="normal align-middle">{{ el.is_editable_display }}</td>
            </tr>
    </tbody>
</template>

<script>

import axios from 'axios'
export default {
    props: [
        'paginator',
        'filterParam',
        'editedInTransactions',
        'editedInProjectId',
        'editedInPeriodId',
    ],
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    mounted(){
        if (this.editedInProjectId){
            this.getInstanceAllProject()
        }
        if (this.editedInPeriodId){
            this.getInstanceAllPeriod()
        }
    },
    data(){
        return{
            instances:{},
            url:"/transactions/api/",

        }
    },
    computed:{
        isReady(){
            if(this.editedInTransactions){
                return (Object.keys(this.paginator).length !==0 && Object.keys(this.filterParam).length !==0)
            }
        },
    },
    methods:{
        getInstanceAll() {
            this.$emit('isloading');
            axios({
                method: 'get',
                url: this.url,
                params: {
                    offset: this.paginator.paginationOffset,
                    page: this.paginator.activePage,
                    filter:this.filterParam,
                }
            })
            .then(response => {
                this.instances = response.data.list;
                this.paginator.pages = response.data.total_pages;
                if (this.paginator.pages < this.paginator.activePage){
                    this.paginator.activePage = 1;
                }
                this.$emit('isloaded');
            })
        },
        getInstanceAllProject() {
            this.$emit('isloading');
            axios({
                method: 'get',
                url: this.url,
                params: {
                    offset: 1000,
                    page: 1,
                    filter:{'projects': this.editedInProjectId},
                }
            })
            .then(response => {
                this.instances = response.data.list;
                this.$emit('isloaded');
            })
        },
        getInstanceAllPeriod() {
            this.$emit('isloading');
            axios({
                method: 'get',
                url: this.url,
                params: {
                    offset: 1000,
                    page: 1,
                    filter:{'period': this.editedInPeriodId},
                }
            })
            .then(response => {
                this.instances = response.data.list;
                this.$emit('isloaded');
            })
        },
        indentStyleObject(el){
            var indent = el.idx * 20;
            return {
                paddingLeft: indent + 'px',
            }
        },
        projectLink: function (id) {
            var link = "projects/project/" + id + '/';
            return link;
        },
    },
    watch:{
        isReady:function(newValue){
            if(newValue){
                this.$emit('isready');
            }
        }
    },
}
</script>

