<template>
    <section v-if="showModal" class="modal-container">
        <div class="modal-container-bg"  v-on:click="close"></div>
        <form class="modal" v-on:submit.prevent="saveInstance">
            <img class="modal-close-btn" src='@/assets/icons/close_icon.svg' v-on:click="close">
                <div class="modal-header mb-3">
                    <h4>
                        {{wording.header.update}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div style=" display: flex; flex-direction: column;">

                        <div style="width:800px;">
                            <div class="ui-positioner width-8" v-if="!editedInProjectId && !editedInPeriodId ">
                                <label class="label1">
                                    {{wording.fields.project}}
                                </label>
                                <v-select
                                        v-if="extra"
                                        v-model="instance.project"
                                        :options="extra.projects"
                                        label="name"
                                        :reduce="name => name.id"
                                >
                                      <template #search="{attributes, events}">
                                        <input
                                          class="vs__search"
                                          :required="!instance.project"
                                          v-bind="attributes"
                                          v-on="events"
                                        />
                                      </template>

                                </v-select>
                            </div>
                            <div class="ui-positioner">
                                <label class="label1">
                                    {{wording.fields.account}}
                                </label>
                                <select  class="ui-border ui-radius-no heigh-1 width-8" v-model="cuForm_account" v-if="extra" required>
                                    <option v-for="item in extra.accounts" :key="item.id" :value="item.id" >{{item.name}}</option>
                                </select>
                            </div>
                            <div class="ui-positioner">
                                <label class="label1">
                                    {{wording.fields.currency}}
                                </label>
                                <input type="text" class="ui-border ui-radius-no heigh-1 width-3" v-model="cuForm_currency_name" disabled>

                            </div>
                            <div class="ui-positioner">
                                <label class="label1">
                                    {{wording.fields.taxe}}
                                </label>
                                <input type="text" class="ui-border ui-radius-right heigh-1 width-3-2" v-model="cuForm_company_owner_taxe_name" disabled>
                            </div>
                        </div>

                        <div style="width:800px;">
                            <div class="ui-positioner">
                                <label class="label1">
                                    {{wording.fields.transaction_type}}
                                </label>
                                 <select  class="ui-border ui-radius-no heigh-1 width-8" v-model="cuForm_type" v-if="extra" required>
                                    <option value="True" >Доход</option>
                                    <option value="False" >Расход</option>
                                </select>
                            </div>
                            <div class="ui-positioner">
                                <label class="label1">
                                    {{wording.fields.pay_purpose}}
                                </label>

                                <select name="purpose" required class="ui-border ui-radius-right heigh-1 width-8" id="id_purpose" v-model="cuForm_purpose" required>
                                    <option
                                            v-for="purpose in cuForm_purpose_list"
                                            v-bind:value=purpose.id

                                    >{{purpose.name}}</option>
                                </select>
                            </div>
                            <div class="ui-positioner" v-show="cuForm_isVisibleUnit">
                                <label class="label1">
                                    {{wording.fields.unit}}
                                </label>
                                <select  class="ui-border ui-radius-no heigh-1 width-6-1" v-model="instance.unit" v-if="extra">
                                    <option v-for="item in extra.units" :key="item.id" :value="item.id" >{{item.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div style="width:800px;">
                            <div class="ui-positioner width-8" v-show="!cuForm_subcontractor_isDisabled">
                                <label class="label1">
                                    {{wording.fields.subcontractor}}
                                </label>
                                <v-select
                                        v-if="extra"
                                        v-model="cuForm_subcontractor"
                                        :options="extra.subcontractors"
                                        label="name"
                                        :reduce="name => name.id"
                                >
                                      <template #search="{attributes, events}">
                                        <input
                                          class="vs__search"
                                          :required="!cuForm_subcontractor"
                                          v-bind="attributes"
                                          v-on="events"
                                        />
                                      </template>
                                </v-select>
                            </div>
                            <div class="ui-positioner" v-show="cuForm_subcontractor_isDisabled">
                                <label class="label1" >
                                    {{wording.fields.subcontractor}}
                                </label>
                                <input type="text"  class="ui-border ui-radius-left heigh-1 width-8" disabled="true">

                            </div>
                            <div class="ui-positioner">
                                <label class="label1" >
                                    {{wording.fields.subcontractor_taxetype}}
                                </label>
                                <input type="text" class="ui-border ui-radius-no heigh-1 width-8" v-model="cuForm_subcontractor_taxe" disabled>

                            </div>
                            <div class="ui-positioner">
                                <label class="label1" >
                                    {{wording.fields.legal}}
                                </label>
                                <input type="text" class="ui-border ui-radius-right heigh-1 width-6-1" v-model="cuForm_subcontractor_lf" disabled>

                            </div>
                        </div>


                        <div style="width:800px;">
                            <div class="ui-positioner">
                                <label class="label1" >
                                    {{wording.fields.sum_before_taxe}}
                                </label>
                                <input type="text" name="sum_before_taxes"  class="ui-border ui-radius-left heigh-1 width-8" required id="id_sum_before_taxes"  v-model="cuForm_sbt" v-bind:disabled="cuForm_sbt_isDisabled">
                            </div>
                            <div class="ui-positioner">
                                <label class="label1" >
                                    {{wording.fields.sum_after_taxe}}
                                </label>
                                <input type="text" name="sum_after_taxes"  class="ui-border ui-radius-no heigh-1 width-8"  v-model="cuForm_sat" v-bind:disabled="cuForm_sat_isDisabled">
                            </div>
                            <div class="ui-positioner">
                                <label class="label1" >
                                    {{wording.fields.sum_taxe}}
                                </label>
                                <input type="text" name="sum_after_taxes"  class="ui-border ui-radius-no heigh-1 width-6-1"  v-model="cuForm_st" disabled>

                            </div>
                        </div>


                        <div style="width:800px;">
                            <div class="ui-positioner">
                                <label class="label1" style="width:130px;">
                                    {{wording.fields.agreement_start_date}}
                                </label>
                                <input type="date" name="agreement_start_date" class="ui-border ui-radius-left heigh-1 width-5"  v-model="cuForm_agreement_start_date" required>

                            </div>
                            <div class="ui-positioner">
                                <label class="label1"  style="width:130px;">
                                    {{wording.fields.agreement_end_date}}
                                </label>
                                <input type="date" name="agreement_end_date" class="ui-border ui-radius-no heigh-1 width-5" v-bind:min="cuForm_agreement_start_date"  v-model="cuForm_agreement_end_date" required>
                            </div>
                            <div class="ui-positioner">
                                <label class="label1" style="width:70px;">
                                    {{wording.fields.pay_model}}
                                </label>
                                <select  class="ui-border ui-radius-no heigh-1 width-3" v-model="cuForm_payModel" v-if="extra" required>
                                    <option v-for="item in extra.pay_model" :key="item.id" :value="item.id" >{{item.name}}</option>
                                </select>
                            </div>

                            <div class="ui-positioner">
                                <label class="label1"  style="width:100px;">
                                    {{wording.fields.pay_delay}}
                                </label>
                                <input type="number"  class="ui-border ui-radius-no heigh-1 width-3"   v-model="cuForm_payDelay" required >

                            </div>

                            <div class="ui-positioner">
                                <label class="label1"  style="width:100px;">
                                    {{wording.fields.date_doc}}
                                </label>
                                <input type="date" name="agreement_start_date" class="ui-border ui-radius-left heigh-1 width-5"  v-model="cuForm_dateDoc" readonly="readonly">

                            </div>
                            <div class="ui-positioner">
                                <label class="label1"  style="width:100px;">
                                    {{wording.fields.date_fact}}
                                </label>
                                <input type="date" name="agreement_start_date" class="ui-border ui-radius-left heigh-1 width-5"  v-model="instance.date_fact" >

                            </div>
                        </div>

                        <div style="width:800px;">
                            <div class="ui-positioner">
                                <label class="label1" >
                                    {{wording.fields.description}}
                                </label>
                                <input type="text" name="agreement_start_date" class="ui-border ui-radius-left heigh-1 width-8"  v-model="instance.description" >

                            </div>
                            <div class="ui-positioner">
                                <label class="label1">
                                    {{wording.fields.comment}}
                                </label>
                                <input type="text" name="agreement_start_date" class="ui-border ui-radius-left heigh-1 width-8"  v-model="instance.comment" >

                            </div>
                            <div class="ui-positioner">
                                <label class="label1">
                                    {{wording.fields.estimation_link}}
                                </label>
                                <input type="text" name="agreement_start_date" class="ui-border ui-radius-left heigh-1 width-6-1"  v-model="instance.estimation_link" >

                            </div>
                        </div>

                        <div style="width:800px;">
                            <div class="ui-positioner">
                                <label class="label1"  style="width:50px;">
                                    {{wording.fields.date_act}}
                                </label>
                                <input type="date" name="act_date" class="ui-border ui-radius-left heigh-1 width-5" id="id_act_date"  v-bind:min="cuForm_agreement_start_date" v-model="instance.act_date">
                            </div>

                            <div class="ui-positioner">
                                <label class="label1" style="width:100px;">
                                    {{wording.fields.status}}
                                </label>
                                <select  class="ui-border ui-radius-no heigh-1 width-5" v-model="instance.status" v-if="extra" required>
                                    <option v-for="item in extra.transaction_status" :key="item.id" :value="item.id" >{{item.name}}</option>
                                </select>
                            </div>

                            <div class="ui-positioner">
                                <label class="label1" style="width:100px;">
                                    {{wording.fields.doc_status}}
                                </label>
                                <select  class="ui-border ui-radius-no heigh-1 width-5" v-model="instance.doc_request" v-if="extra" required>
                                    <option v-for="item in extra.doc_request" :key="item.id" :value="item.id" >{{item.name}}</option>
                                </select>
                            </div>

                            <div class="ui-positioner">
                                <label class="label1"  style="width:100px;">
                                    {{wording.fields.is_hidden}}
                                </label>
                                <select  class="ui-border ui-radius-no heigh-1 width-4" v-model="instance.hidden" v-if="extra" required>
                                    <option value="True" >Да</option>
                                    <option value="False" >Нет</option>
                                </select>
                            </div>

                            <div class="ui-positioner">
                                <label class="label1"  style="width:120px;">
                                    {{wording.fields.is_editable}}
                                </label>
                                <select  class="ui-border ui-radius-no heigh-1 width-4" v-model="instance.is_editable" v-if="extra" required>
                                    <option value="True" >Да</option>
                                    <option value="False" >Нет</option>
                                </select>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer mt-3">
                    <button type="button" class="btn btn-outline-danger btn-lg pl-5 pr-5"  v-on:click="close">{{wording.button.cancel}}</button>
                    <button
                            type="submit"
                            class="btn btn-success btn-lg pl-5 pr-5"
                            :disabled="submitDisabled"

                    >
                        <span
                            class="spinner-grow spinner-grow-sm"
                            style="vertical-align: baseline;
                            margin-bottom: -2px;"
                            role="status"
                            aria-hidden="true"
                            v-if="submitDisabled"
                        ></span>
                        {{wording.button.update}}</button>
                </div>

        </form>



    </section>






</template>

<script>

import axios from 'axios'
import transaction from "@/mixins/transaction"
import $ from "jQuery";
import vSelect from 'vue-select'

export default {
    mixins: [transaction,],
    props: [
        'wording',
        'editedInProjectId',
        'editedInPeriodId',

    ],
    components: {
        'v-select': vSelect,
    },
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    mounted(){
        this.getExtra();
    },
    data(){
        return{
            instance:{},
            instanceDefault: {
                project: '',
                status: 0,
                doc_request: 0,
                hidden: 'False',
                is_editable: 'True',
                unit: '',
                date_fact: null,
                description: '',
                comment: '',
                estimation_link: '',
            },
            urlExtra:"/transactions/api/extra",
            urlList:"/transactions/api/",
            showModal: false,


            cuForm_account: '',
            cuForm_company_owner_taxe_name: null,
            cuForm_company_owner_taxe_multiplicator: null,
            cuForm_currency_name: null,
            cuForm_type: 'True',
            cuForm_purpose_list: null,
            cuForm_purpose: '',
            cuForm_isVisibleUnit: true,
            cuForm_subcontractor: '',
            cuForm_subcontractor_taxe: null,
            cuForm_subcontractor_taxe_multiplicator: null,
            cuForm_subcontractor_lf: null,
            cuForm_subcontractor_isDisabled: true,
            cuForm_sbt: 0,
            cuForm_sat: 0,
            cuForm_st: 0,
            cuForm_sbt_isDisabled: true,
            cuForm_sat_isDisabled: true,
            cuForm_payModel: "0",
            cuForm_payDelay: 0,
            cuForm_agreement_start_date: null,
            cuForm_agreement_end_date: null,

            message: {},
            submitDisabled: false,
        }
    },
    methods:{
        show(el){
            this.instance  = {};
            this.instance = {
                "id": el,
            };

            axios({
                method: 'get',
                url: this.urlList + this.instance.id + "/",
            })
            .then(response => {
                this.instance = response.data;
                this.unit();
                this.purpose_list();
                this.instanceSendDecompiler();
                this.showModal = true
                $("body").attr('class', 'modalopen')
                })
            .catch(function (response) {
                console.log(response);
            });

        },
        close(){
            this.showModal = false
            $("body").removeClass('modalopen')

        },
        saveInstance: function () {
            this.instanceSendCompiler();
            axios({
                method: 'put',
                url: this.url_detail,
                data: this.instance,
            })
            .then(response => {
                this.message = {
                    status: 'success',
                    text: this.wording.message.updated,
                };
                this.$emit('send-message', this.message);
                this.$emit('update-list');
                this.submitDisabled = false;
                this.close()

            })
            .catch(error => {
                this.message = {
                    status: 'error',
                    text: 'Ошибка',
                };
                this.$emit('send-message', this.message);
                console.log(error.response);
            });
        },
    },

}
</script>

<style lang="scss">
  @import "@/scss/modal.scss";
</style>

