<template>
    <div>
        <transition name="fade">
            <div class="loaderArea" v-if="pageLoading">
                <div class="loader">
                    <div class="spinner-grow text-light" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
export default {
    props: [ 'pageLoading'],
}
</script>


