<template>
    <div class="w-100">
        <div
                class="row border border-1 mb-3 mr-1 py-3 px-3"
                v-for="item in instances"
                v-bind:key="item.id"
            >
                <div class="col-9  d-flex  align-items-center ">
                    <span class="font-weight-bold mr-2">{{item.name}}</span>  -
                    <span class=" mr-2 ml-2">{{item.type_display}}</span>  -
                    <span class=" mr-2 ml-2">{{item.currency_display}}</span>  -
                    <span class="s ml-2">{{item.company_owner_display}}</span>
                </div>
                <div class="col-3 d-flex justify-content-end">
                        <button
                            type="button"
                            class="btn btn-sm btn-outline-primary border-0 ml-3"
                            v-on:click="$emit('update-instance', item.id)"
                        >
                            <i class="far fa-pencil"></i>
                        </button>
                        <button
                            type="button"
                            class="btn btn-sm btn-outline-primary border-0 "
                            v-on:click="$emit('delete-instance', item.id)"
                            v-if="item.is_deletable"
                        >
                            <i class="fas fa-trash"></i>
                        </button>
                </div>
        </div>
    </div>
</template>

<script>

import axios from 'axios'
export default {
    props: [
        'paginator',
        'searchQuery',
    ],
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    mounted(){
    },
    data(){
        return{
            instances:{},
            url:"/setup/api/accounts/",

        }
    },
    computed:{
        isReady(){
            if (Object.keys(this.paginator).length !==0){
                return true
            } else{
                return false
            }
        },
    },
    methods:{
        getInstanceAll() {
            this.$emit('isloading');
            axios({
                method: 'get',
                url: this.url,
                params: {
                    offset: this.paginator.paginationOffset,
                    page: this.paginator.activePage,
                    searchquery: this.searchQuery,
                }
            })
            .then(response => {
                this.instances = response.data.list;
                this.paginator.pages = response.data.total_pages;
                if (this.paginator.pages < this.paginator.activePage){
                    this.paginator.activePage = 1;
                }
                this.$emit('isloaded');
            })
        },
        indentStyleObject(el){
            var indent = el.idx * 20;
            return {
                paddingLeft: indent + 'px',
            }
        },
    },
    watch:{
        isReady:function(newValue){
            if(newValue){
                this.$emit('isready');
            }
        },
        searchQuery: _.debounce(function(newValue){
            this.getInstanceAll()
        },500)
    },
}
</script>

