<template>
    <div>
        <h4  class="mb-4">Связанные документы</h4>
        <p>ПЕРЕДЕЛАТЬ</p>

    </div>




</template>

<script>
export default {
    props: [ 'id'],
    data(){
        return{

        }
    },
    mounted(){
    },
    methods:{

    },
}
</script>


