<template>
    <div>
        <section class="header ">
            <div style="white-space: nowrap;">
                <h1 class="title">
                    {{wording.header.list}}
                </h1>


            </div>
            <div style="white-space: nowrap;">
                <button type="submit" v-on:click="updateInstance" class="btn btn-primary">
                    <i class="far fa-pencil"></i>
                </button>
            </div>
        </section>




        <section class="content-area">

            <!--Preloader-->
            <v-preloader :page-loading="pageLoading"></v-preloader>
            <!--End-->

            <!--Messages-->
            <v-messages ref="messages"></v-messages>
            <!--End-->

            <!--List-->
            <div class="block-section">
                <v-list
                    ref="list"
                    :paginator.sync="paginator"
                    :search-query.sync="searchQuery"
                    :wording="wording"
                    v-on:isready="isReadyList = true"
                    v-on:isloaded="pageLoading = false"
                    v-on:isloading="pageLoading = true"
                    v-on:update-instance="updateInstance"
                    v-on:delete-instance="deleteInstance"
                    v-on:send-message="sendMessage"
                ></v-list>
            </div>
            <!--End-->


            <!--Modals-->
            <v-update-instance ref="updateInstance" :wording="wording" v-on:send-message="sendMessage" v-on:update-list="updateList"></v-update-instance>
            <!--End-->
        </section>
    </div>

</template>

<script>
import Wording from '@/components/profile/wording.json'

import Preloader from '@/components/global/Preloader.vue'
import Messages from '@/components/global/Messages.vue'

import List from '@/components/profile/List.vue'
import UpdateInstance from '@/components/profile/UpdateInstance.vue'


export default {
    name: 'Profile',
    components: {
        'v-preloader': Preloader,
        'v-messages': Messages,
        'v-list': List,
        'v-update-instance': UpdateInstance,
        'v-history': History,
    },
    data(){
        return{
            paginator: {},
            isReadyList: false,
            pageLoading: true,
            searchQuery: '',
        }
    },
    computed: {
        wording(){
            if(this.$store.getters.LANGUAGE === 'ru'){
                return Wording.ru
            } else if (this.$store.getters.LANGUAGE === 'en'){
                return Wording.en
            }
        }
    },
    methods:{
        sendMessage(message){
            this.$refs.messages.show(message);
        },
        updateList:  _.debounce(function(){
            this.searchQuery = ''
            this.$refs.list.getInstanceAll();
        }),

        createInstance(){
            this.$refs.createInstance.show();
        },
        updateInstance(el){
            this.$refs.updateInstance.show(el);
        },
        deleteInstance(el){
            this.$refs.deleteInstance.show(el);
        },
        showHistory(){
            this.$refs.history.show();
        },
        closeSearch(){
            this.searchQuery =''
        },
    },
    watch: {
        isReadyList(newValue) {
            if (newValue){
                this.updateList()
            }
        } ,
    },
}
</script>




