<template>
    <div>
        <section class="header ">
            <div style="white-space: nowrap;">
                <h1 class="title">
                    {{wording.header.list}}
                </h1>
<!--                <input-->
<!--                    class="search-field ml-3"-->
<!--                    type="search"-->
<!--                    :placeholder="wording.placeholder.search"-->
<!--                    v-model="searchQuery"-->
<!--                    v-on:keyup.esc="closeSearch"-->
<!--                >-->
            </div>
            <div style="white-space: nowrap;">
                <button type="submit" v-on:click="createInstance" class="btn btn-primary">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </section>




        <section class="content-area">

            <!--Preloader-->
            <v-preloader :page-loading="pageLoading"></v-preloader>
            <!--End-->

            <!--Messages-->
            <v-messages ref="messages"></v-messages>
            <!--End-->

            <!--List-->
            <div class="block-section">
                <v-list
                    ref="list"
                    :paginator.sync="paginator"
                    :search-query.sync="searchQuery"
                    :wording="wording"
                    v-on:isready="isReadyList = true"
                    v-on:isloaded="pageLoading = false"
                    v-on:isloading="pageLoading = true"
                    v-on:update-instance="updateInstance"
                    v-on:delete-instance="deleteInstance"
                    v-on:send-message="sendMessage"
                ></v-list>
            </div>
            <!--End-->

            <!--Pagination-->
            <div id="pagination" class="block-section">
                <v-paginator :paginator.sync="paginator" v-on:update-list="updateList"></v-paginator>
            </div>
            <!--End-->

            <!--Modals-->
            <v-create-instance ref="createInstance" :wording="wording" v-on:send-message="sendMessage" v-on:update-list="updateList"></v-create-instance>
            <v-update-instance ref="updateInstance" :wording="wording" v-on:send-message="sendMessage" v-on:update-list="updateList"></v-update-instance>
            <v-delete-instance ref="deleteInstance" :wording="wording" v-on:send-message="sendMessage" v-on:update-list="updateList"></v-delete-instance>
            <!--End-->
        </section>
    </div>

</template>

<script>
import Wording from '@/components/team/wording.json'

import Preloader from '@/components/global/Preloader.vue'
import Paginator from '@/components/global/Paginator.vue'
import Messages from '@/components/global/Messages.vue'

import List from '@/components/team/List.vue'
import CreateInstance from '@/components/team/CreateInstance.vue'
import UpdateInstance from '@/components/team/UpdateInstance.vue'
import DeleteInstance from '@/components/team/DeleteInstance.vue'


export default {
    name: 'Team',
    components: {
        'v-preloader': Preloader,
        'v-paginator': Paginator,
        'v-messages': Messages,
        'v-list': List,
        'v-create-instance': CreateInstance,
        'v-update-instance': UpdateInstance,
        'v-delete-instance': DeleteInstance,
    },
    data(){
        return{
            paginator: {},
            isReadyList: false,
            pageLoading: true,
            searchQuery: '',
        }
    },
    computed: {
        wording(){
            if(this.$store.getters.LANGUAGE === 'ru'){
                return Wording.ru
            } else if (this.$store.getters.LANGUAGE === 'en'){
                return Wording.en
            }
        }
    },
    methods:{
        sendMessage(message){
            this.$refs.messages.show(message);
        },
        updateList:  _.debounce(function(){
            this.searchQuery = ''
            this.$refs.list.getInstanceAll();
        }),

        createInstance(){
            this.$refs.createInstance.show();
        },
        updateInstance(el){
            this.$refs.updateInstance.show(el);
        },
        deleteInstance(el){
            console.log('aaaa')
            this.$refs.deleteInstance.show(el);
        },
        showHistory(){
            this.$refs.history.show();
        },
        closeSearch(){
            this.searchQuery =''
        },
    },
    watch: {
        isReadyList(newValue) {
            if (newValue){
                this.updateList()
            }
        } ,
    },
}
</script>




