<template>
    <div>
        <section class="header ">
            <div style="white-space: nowrap;">
                <div class="d-flex align-items-center">
                    <router-link :to="{ name: 'Projects'}"><h4 class=" px-4 py-4 border-right back-btn" ><i class="fal fa-chevron-left"></i></h4></router-link>
                    <h1 class="ml-3 mt-1">
                        <span></span>
                        <span>#{{projectInstance.name}}</span>
                        <span v-if="projectInstance.brand">/{{projectInstance.brand_display}}</span>
                        <span>/{{projectInstance.name_short}}</span>
                    </h1>
                </div>
            </div>
        </section>

        <section class="content-area">
            <div class="block-section-3">


                <!--Preloader-->
                    <v-preloader :page-loading="pageLoading"></v-preloader>
                <!--End-->

                <!--Messages-->
                    <v-messages ref="messages"></v-messages>
                <!--End-->

                <!--Block STATICTICS-->
                <div class="row mb-5">
                    <div class="col-12">
                        <v-statictics
                                :id=$route.params.projectId
                                ref="statictics"
                                :wording="wording"
                                v-on:isloaded="blocksLoading.stats = false"
                                v-on:isloading="blocksLoading.stats = true"
                        ></v-statictics>
                    </div>
                </div>
                <!--End-->

                <!--Block PERIODS DATA-->
                <div class="row  mb-5" style="overflow-y: scroll;" v-if="projectInstance.work_format === 1">
                    <div class="col-12">
                        <v-periods-show
                                :wording="wordingPeriods"
                                :wording-reports="wordingReports"
                                :projectid=$route.params.projectId
                                ref="showPeriods"
                                v-on:create-period='createPeriod'
                                v-on:update-period="editPeriod"
                                v-on:delete-period="deletePeriod"
                                v-on:create-report='createReport'
                                v-on:update-report='updateReport'
                                v-on:delete-report='deleteReport'
                                v-on:create-transaction-period='createTransactionPeriod'
                                v-on:update-transaction-period='updateTransactionPeriod'
                                v-on:delete-transaction-period='deleteTransactionPeriod'
                                v-on:isloaded="blocksLoading.periods = false"
                                v-on:isloading="blocksLoading.periods = true"
                        ></v-periods-show>

                    </div>
                </div>
                <!--End-->

                <!--Block TRANSACTION DATA-->
                <div class="row  mb-5" style="overflow-y: scroll;" v-if="projectInstance.work_format !== 1">
                    <div class="col-12">
                        <div class="d-flex justify-content-between align-items-start  mb-4">
                            <h4 class="mb-3">{{wordingTransaction.header.list}}</h4>
                            <button type="submit" class="btn btn-sm btn-primary" v-on:click="createTransaction">
                                                     <i class="fas fa-plus"></i>

                            </button>
                        </div>
                        <table  class="table table-hover" >
                            <thead>
                                <v-transaction-header-names></v-transaction-header-names>
                            </thead>

                            <tbody
                                is="v-transactions-list"
                                ref="transactionsList"
                                v-on:update-instance="updateTransaction"
                                v-on:delete-instance="deleteTransaction"
                                :edited-in-project-id='$route.params.projectId'
                            ></tbody>
                        </table>

                    </div>
                </div>
                <!--End-->



                <!--Block PROJECT DATA-->
                <div class="row mb-4 mr-3">
                    <div class="col-6" >
                        <div class="border mx-1 px-5 py-5 h-100">
                            <v-base-show
                                    :id=$route.params.projectId
                                    ref="showBase"
                                    v-on:update-base="updateBase"
                                    :instance.sync="projectInstance"
                                    :wording="wording"
                                    v-on:isloaded="blocksLoading.base = false"
                                    v-on:isloading="blocksLoading.base = true"
                            ></v-base-show>
                        </div>
                    </div>
                    <div class="col-6" >
                        <div class="border mx-1 px-5 py-5 h-100">
                            <v-estimate-show
                                    :id=$route.params.projectId
                                    ref="showEstimate"
                                    v-on:update-estimate="updateEstimate"
                                    :wording="wording"
                                    v-on:isloaded="blocksLoading.estimate = false"
                                    v-on:isloading="blocksLoading.estimate = true"
                            ></v-estimate-show>
                        </div>
                    </div>
                </div>

                <!--Block SERVICES DATA-->
                <div class="row  mb-5" style="overflow-y: scroll;" v-if="projectInstance.work_format === 1">
                    <div class="col-12">
                        <v-services-show
                                :wording="wordingService"
                                :id=$route.params.projectId
                                ref="showServices"
                                v-on:create-service='createService'
                                v-on:update-service="editService"
                                v-on:delete-service="deleteService"
                                v-on:isloaded="blocksLoading.services = false"
                                v-on:isloading="blocksLoading.services = true"
                        ></v-services-show>

                    </div>
                </div>
                <!--End-->

                <!--Block TEAM & DOCS -->
                <div class="row mb-5 mr-3">
                    <div class="col-6">
                        <v-team-show
                                :id=$route.params.projectId
                                :wording="wordingTeam"
                                ref="showTeam"
                                v-on:create-team='createTeam'
                                v-on:update-team="editTeam"
                                v-on:delete-team="deleteTeam"
                                v-on:isloaded="blocksLoading.team = false"
                                v-on:isloading="blocksLoading.team = true"
                        ></v-team-show>
                    </div>
                    <div class="col-6">
                        <div class="border mx-1 px-5 py-5  h-100">
                            <v-docs :id=$route.params.projectId></v-docs>
                        </div>
                    </div>
                </div>
                <!--End-->

                <!--Block PROJECT DELETE-->
                <div class="row mb-5">
                    <div class="col-12">
                        <button type="button" class="btn btn-outline-danger mt-4" v-on:click="deleteProject(projectInstance)">
                            {{wording.button.delete}}
                        </button>
                    </div>
                </div>
                <!--End-->

                <!--Modals-->
                <v-base-update :id=$route.params.projectId ref="updateBase" v-on:update-base="updateProject" :wording="wording" v-on:send-message="sendMessage"></v-base-update>
                <v-estimate-update :id=$route.params.projectId ref="updateEstimate" v-on:update-estimate="updateProject" :wording="wording" v-on:send-message="sendMessage"></v-estimate-update>
                <v-project-delete ref="deleteProject" :wording="wording" v-on:send-message="sendMessage"></v-project-delete>


                <v-periods-create :id=$route.params.projectId ref="createPeriod" v-on:update-periods="updatePeriods" :wording="wordingPeriods" v-on:send-message="sendMessage"></v-periods-create>
                <v-periods-update :id=$route.params.projectId ref="updatePeriod" v-on:update-periods="updatePeriods" :wording="wordingPeriods" v-on:send-message="sendMessage"></v-periods-update>
                <v-periods-delete :id=$route.params.projectId ref="deletePeriod" v-on:update-periods="updatePeriods" :wording="wordingPeriods" v-on:send-message="sendMessage"></v-periods-delete>

                <v-reports-create :projectid=$route.params.projectId ref="createReport" v-on:update-reports="updateReports" :wording="wordingReports" v-on:send-message="sendMessage"></v-reports-create>
                <v-reports-update :projectid=$route.params.projectId ref="updateReport" v-on:update-reports="updateReports" :wording="wordingReports" v-on:send-message="sendMessage"></v-reports-update>
                <v-reports-delete :projectid=$route.params.projectId ref="deleteReport" v-on:update-reports="updateReports" :wording="wordingReports" v-on:send-message="sendMessage"></v-reports-delete>

                <v-transactions-create ref="createTransactionPeriod" :edited-in-period-id="true" :wording="wordingTransaction" v-on:update-list="updateTransactionsPeriod" v-on:send-message="sendMessage"></v-transactions-create>
                <v-transactions-update ref="updateTransactionPeriod" :edited-in-period-id="true" :wording="wordingTransaction" v-on:update-list="updateTransactionsPeriod" v-on:send-message="sendMessage"></v-transactions-update>
                <v-transactions-delete ref="deleteTransactionPeriod" :wording="wordingTransaction" v-on:update-list="updateTransactionsPeriod" v-on:send-message="sendMessage"></v-transactions-delete>

                <v-services-create :id=$route.params.projectId ref="createService" v-on:update-services="updateServices" :wording="wordingService" v-on:send-message="sendMessage"></v-services-create>
                <v-services-update :id=$route.params.projectId ref="updateService" v-on:update-services="updateServices" :wording="wordingService" v-on:send-message="sendMessage"></v-services-update>
                <v-services-delete :id=$route.params.projectId ref="deleteService" v-on:update-services="updateServices" :wording="wordingService" v-on:send-message="sendMessage"></v-services-delete>



                <v-team-create :id=$route.params.projectId ref="createTeam" v-on:update-team="updateTeam" :wording="wordingTeam" v-on:send-message="sendMessage"></v-team-create>
                <v-team-update :id=$route.params.projectId ref="updateTeam" v-on:update-team="updateTeam" :wording="wordingTeam" v-on:send-message="sendMessage"></v-team-update>
                <v-team-delete :id=$route.params.projectId ref="deleteTeam" v-on:update-team="updateTeam" :wording="wordingTeam" v-on:send-message="sendMessage"></v-team-delete>

                <v-transactions-create ref="createTransaction" :edited-in-project-id='$route.params.projectId' :wording="wordingTransaction" v-on:update-list="updateTransactions" v-on:send-message="sendMessage"></v-transactions-create>
                <v-transactions-update ref="updateTransaction" :edited-in-project-id='$route.params.projectId' :wording="wordingTransaction" v-on:update-list="updateTransactions" v-on:send-message="sendMessage"></v-transactions-update>
                <v-transactions-delete ref="deleteTransaction" :wording="wordingTransaction" v-on:update-list="updateTransactions" v-on:send-message="sendMessage"></v-transactions-delete>


                <!--End-->
            </div>
        </section>
    </div>

</template>

<script>


import WordingProject from '@/components/projects/project/wording.json'
import WordingTeam from '@/components/projects/project/team/wording.json'
import WordingService from '@/components/projects/project/services/wording.json'
import WordingTransaction from '@/components/transactions/wording.json'
import WordingPeriods from '@/components/projects/project/periods/wording.json'
import WordingReports from '@/components/projects/project/periods/reports/wording.json'
import Messages from '@/components/global/Messages.vue'
import Preloader from '@/components/global/Preloader.vue'

import ShowBase from '@/components/projects/project/project/ShowBase.vue'
import UpdateBase from '@/components/projects/project/project/UpdateBase.vue'
import ShowEstimate from '@/components/projects/project/project/ShowEstimate.vue'
import UpdateEstimate from '@/components/projects/project/project/UpdateEstimate.vue'
import DeleteInstance from '@/components/projects/project/project/DeleteInstance.vue'

import Statictics from '@/components/projects/project/Statictics.vue'
import Docs from '@/components/projects/project/Docs.vue'

import ShowTeam from '@/components/projects/project/team/ShowTeam.vue'
import CreateTeam from '@/components/projects/project/team/CreateTeam.vue'
import UpdateTeam from '@/components/projects/project/team/UpdateTeam.vue'
import DeleteTeam from '@/components/projects/project/team/DeleteTeam.vue'

import ShowServices from '@/components/projects/project/services/ShowServices.vue'
import CreateService from '@/components/projects/project/services/CreateService.vue'
import UpdateService from '@/components/projects/project/services/UpdateService.vue'
import DeleteService from '@/components/projects/project/services/DeleteService.vue'

import ShowPeriods from '@/components/projects/project/periods/ShowPeriods.vue'
import CreatePeriod from '@/components/projects/project/periods/CreatePeriod.vue'
import UpdatePeriod from '@/components/projects/project/periods/UpdatePeriod.vue'
import DeletePeriod from '@/components/projects/project/periods/DeletePeriod.vue'

import TransactionList from '@/components/transactions/List.vue'
import TransactionCreate from '@/components/transactions/CreateInstance.vue'
import TransactionUpdate from '@/components/transactions/UpdateInstance.vue'
import TransactionDelete from '@/components/transactions/DeleteInstance.vue'
import TransactionHeaderNames from '@/components/transactions/HeaderNames.vue'

import CreateReport from '@/components/projects/project/periods/reports/CreateReport.vue'
import UpdateReport from '@/components/projects/project/periods/reports/UpdateReport.vue'
import DeleteReport from '@/components/projects/project/periods/reports/DeleteReport.vue'

export default {
    name: 'Project',
    components: {


        'v-base-show': ShowBase,
        'v-base-update': UpdateBase,
        'v-estimate-show': ShowEstimate,
        'v-estimate-update': UpdateEstimate,
        'v-project-delete': DeleteInstance,

        'v-statictics': Statictics,
        'v-docs': Docs,

        'v-services-show': ShowServices,
        'v-services-create': CreateService,
        'v-services-update': UpdateService,
        'v-services-delete': DeleteService,

        'v-periods-show': ShowPeriods,
        'v-periods-create': CreatePeriod,
        'v-periods-update': UpdatePeriod,
        'v-periods-delete': DeletePeriod,

        'v-team-show': ShowTeam,
        'v-team-create': CreateTeam,
        'v-team-update': UpdateTeam,
        'v-team-delete': DeleteTeam,

        'v-reports-create': CreateReport,
        'v-reports-update': UpdateReport,
        'v-reports-delete': DeleteReport,

        'v-transactions-list': TransactionList,
        'v-transactions-create': TransactionCreate,
        'v-transactions-update': TransactionUpdate,
        'v-transactions-delete': TransactionDelete,
        'v-transaction-header-names': TransactionHeaderNames,

        'v-messages': Messages,
        'v-preloader': Preloader,

    },
    data(){
        return{
            blocksLoading:{
                stats:true,
                periods:true,
                base:true,
                estimate:true,
                services:true,
                team:true,
            },
            projectInstance: {},
        }
    },
    computed: {
        pageLoading(){

            for (const block in this.blocksLoading){
                if (this.blocksLoading[block] === false) {
                    return false
                }
            }
            return true
        },
        wording(){
            if(this.$store.getters.LANGUAGE === 'ru'){
                return WordingProject.ru
            } else if (this.$store.getters.LANGUAGE === 'en'){
                return WordingProject.en
            }
        },
        wordingTeam(){
            if(this.$store.getters.LANGUAGE === 'ru'){
                return WordingTeam.ru
            } else if (this.$store.getters.LANGUAGE === 'en'){
                return WordingTeam.en
            }
        },
        wordingTransaction(){
            if(this.$store.getters.LANGUAGE === 'ru'){
                return WordingTransaction.ru
            } else if (this.$store.getters.LANGUAGE === 'en'){
                return WordingTransaction.en
            }
        },
        wordingService(){
            if(this.$store.getters.LANGUAGE === 'ru'){
                return WordingService.ru
            } else if (this.$store.getters.LANGUAGE === 'en'){
                return WordingService.en
            }
        },
        wordingPeriods(){
            if(this.$store.getters.LANGUAGE === 'ru'){
                return WordingPeriods.ru
            } else if (this.$store.getters.LANGUAGE === 'en'){
                return WordingPeriods.en
            }
        },
        wordingReports(){
            if(this.$store.getters.LANGUAGE === 'ru'){
                return WordingReports.ru
            } else if (this.$store.getters.LANGUAGE === 'en'){
                return WordingReports.en
            }
        }
    },
    methods:{
        sendMessage(message){
            this.$refs.messages.show(message);
        },
        updateProject:  _.debounce(function(){
            this.$refs.showBase.getInstanceAll();
            this.$refs.showEstimate.getInstanceAll();
        }),
        updateBase(){
            this.$refs.updateBase.show();
        },
        updateEstimate(){
            this.$refs.updateEstimate.show();
        },
        deleteProject(el){
            this.$refs.deleteProject.show(el);
        },
        updateTeam:  _.debounce(function(){
            this.$refs.showTeam.getInstanceAll();
        }),
        createTeam(){
            this.$refs.createTeam.show();
        },
        editTeam(el){
            this.$refs.updateTeam.show(el);
        },
        deleteTeam(el){
            this.$refs.deleteTeam.show(el);
        },
        updateServices:  _.debounce(function(){
            this.$refs.showServices.getInstanceAll();
        }),
        createService(){
            this.$refs.createService.show();
        },
        editService(el){
            this.$refs.updateService.show(el);
        },
        deleteService(el){
            this.$refs.deleteService.show(el);
        },
        updatePeriods:  _.debounce(function(){
            this.$refs.showPeriods.getInstanceAll();
        }),
        createPeriod(){
            this.$refs.createPeriod.show();
        },
        editPeriod(el){
            this.$refs.updatePeriod.show(el);
        },
        deletePeriod(el){
            this.$refs.deletePeriod.show(el);
        },
        updateTransactions:  _.debounce(function(){
            this.$refs.transactionsList.getInstanceAllProject();
            this.$refs.statictics.get();
        }),
        createTransaction(){
            this.$refs.createTransaction.show();
        },
        updateTransaction(el){
            this.$refs.updateTransaction.show(el);
        },
        deleteTransaction(el){
            this.$refs.deleteTransaction.show(el);
        },
        updateReports:  _.debounce(function(){
            this.$refs.showPeriods.updateReports();
        }),
        createReport(period){
            this.$refs.createReport.show(period);
        },
        updateReport(el){
            this.$refs.updateReport.show(el);
        },
        deleteReport(el){
            this.$refs.deleteReport.show(el);
        },
        updateTransactionsPeriod:  _.debounce(function(){
            this.$refs.showPeriods.updateTransactions();
            this.$refs.statictics.get();
        }),
        createTransactionPeriod(el){
            var ids = {
                project: this.$route.params.projectId,
                period: el
            }
            this.$refs.createTransactionPeriod.show(ids);

        },
        updateTransactionPeriod(el){
            this.$refs.updateTransactionPeriod.show(el);
        },
        deleteTransactionPeriod(el){
            this.$refs.deleteTransactionPeriod.show(el);
        },


    },
    watch:{
        isReadyList(newValue) {
            if (newValue){
                this.updateList()
            }
        } ,
    },
}
</script>




