<template>
    <section v-if="showModal" class="modal-container">
        <div class="modal-container-bg"  v-on:click="close"></div>
        <form class="modal" v-on:submit.prevent="saveInstance">
            <img class="modal-close-btn" src='@/assets/icons/close_icon.svg' v-on:click="close">
                <div class="modal-header mb-3">
                    <h4>
                        {{wording.header.create}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div style=" display: flex; flex-direction: column;">
                        <div >
                            <div class="row mb-3">
                                <div class="col-6">
                                     <label class="label1">
                                        Статус документа <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <select  class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.status" v-if="extra" required>
                                        <option v-for="item in extra.status" :key="item.id" :value="item.id" >{{item.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3" v-if="showAgreement">
                                <div class="col-12">
                                     <label class="label1">
                                        Договор <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <v-select
                                            v-if="extra"
                                            v-model="instance.agreement"
                                            :options="extra.agreements"
                                            label="name"
                                            :reduce="name => name.id"
                                    >
                                    </v-select>

                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                     <label class="label1">
                                        Моя компания <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <select  class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.mycompany" v-if="extra && showMyCompany"  :required="showMyCompany">
                                        <option v-for="item in extra.mycompany" :key="item.id" :value="item.id" >{{item.name}}</option>
                                    </select>
                                    <input v-if="!showMyCompany" type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="MyCompanyData" disabled>

                                </div>
                                <div class="col-6">
                                     <label class="label1">
                                        Контрагент <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <v-select
                                            v-if="extra && showSubcontractor"
                                            v-model="instance.subcontractor"
                                            :options="extra.subcontractors"
                                            label="name"
                                            :reduce="name => name.id"
                                    >
                                          <template #search="{attributes, events}">
                                            <input
                                              class="vs__search"
                                              :required="!instance.subcontractor && showSubcontractor"
                                              v-bind="attributes"
                                              v-on="events"
                                            />
                                          </template>
                                    </v-select>
                                    <input v-if="!showSubcontractor" type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="SubcontractorData" disabled>

                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-3">
                                     <label class="label1">
                                        Тип документа <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <select  class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.type" v-if="extra" required>
                                        <option v-for="item in extra.type" :key="item.id" :value="item.id" >{{item.name}}</option>
                                    </select>
                                </div>
                                <div class="col-3">
                                     <label class="label1">
                                        Дата  <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <input type="date" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.signed_at" required >

                                </div>
                                <div class="col-6">
                                     <label class="label1">
                                        Номер документа <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.name" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-3">
                                     <label class="label1">
                                        Начало периода <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <input type="date" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.covered_period_from" >
                                </div>
                                <div class="col-3">
                                     <label class="label1">
                                         Окончание периода
                                    </label>
                                    <input type="date" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.covered_period_till" >

                                </div>

                            </div>


                        </div>
                    </div>
                </div>
                <div class="modal-footer mt-3">
                    <button type="button" class="btn btn-outline-danger btn-lg pl-5 pr-5"  v-on:click="close">{{wording.button.cancel}}</button>
                    <button
                            type="submit"
                            class="btn btn-success btn-lg pl-5 pr-5"
                            :disabled="submitDisabled"
                    >
                        <span
                            class="spinner-grow spinner-grow-sm"
                            style="vertical-align: baseline;
                            margin-bottom: -2px;"
                            role="status"
                            aria-hidden="true"
                            v-if="submitDisabled"
                        ></span>
                        {{wording.button.create}}</button>
                </div>

        </form>



    </section>






</template>

<script>


import axios from 'axios'
import $ from "jQuery";
import vSelect from 'vue-select'

export default {
    props: [
        'wording'
    ],
    components: {
        'v-select': vSelect,
    },
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    mounted(){
        this.getExtra();
    },
    data(){
        return{
            instance:{},
            instanceDefault: {
                status: 0,
                subcontractor_role: 0,
                type: 0,
                prolongation_type: 0,

            },
            urlExtra:"/docs/api/accounting/extra/",
            urlList:"/docs/api/accounting/",
            urlAgreementData:"/docs/api/accounting/extra_agreement/",
            showModal: false,

            showAgreement: true,
            showMyCompany: true,
            showSubcontractor: true,
            MyCompanyData: null,
            SubcontractorData: null,
            message: {},
            submitDisabled: false,
        }
    },
    methods:{
        show(){
            this.instance  = {};
            this.instance  = JSON.parse(JSON.stringify(this.instanceDefault)) ;
            this.showModal = true
            $("body").attr('class', 'modalopen')
        },
        close(){
            this.showModal = false
            $("body").removeClass('modalopen')

        },
        getExtra(){
            axios({
                method: 'get',
                url: this.urlExtra,
            })
            .then(response => {
                this.extra = response.data.extra;
            })
        },
        saveInstance: function () {
            axios({
                method: 'post',
                url: this.urlList,
                data: this.instance,
            })
            .then(response => {
                this.message = {
                    status: 'success',
                    text: this.wording.message.created,
                };
                this.$emit('send-message', this.message);
                this.$emit('update-list');
                this.submitDisabled = false;
                this.close()

            })
            .catch(error => {
                this.message = {
                    status: 'error',
                    text: 'Ошибка',
                };
                this.$emit('send-message', this.message);
                console.log(error.response);
            });
        },
        loadAgreeemntData(){
            axios({
                method: 'get',
                url: this.urlAgreementData,
                params: { id :this.instance.agreement},
            })
            .then(response => {
                this.MyCompanyData = response.data.mycompany_display
                this.SubcontractorData = response.data.subcontractor_name

            })
            .catch(error => {
                console.log(error.response);
            });
        },
    },
    watch:{
        instance:{
            deep: true,
            handler: function (newValue) {
                if(newValue.agreement !== undefined && newValue.agreement !== null){
                    this.showMyCompany = false
                    this.showSubcontractor = false
                    this.loadAgreeemntData()
                } else{
                    this.showMyCompany = true
                    this.showSubcontractor = true
                }

                if(newValue.subcontractor !== undefined && newValue.subcontractor !== null){
                    this.showAgreement = false
                } else{
                    this.showAgreement = true
                }
            },
        },
    },
}
</script>

<style lang="scss">
  @import "@/scss/modal.scss";
</style>

