<template>
    <section v-if="showModal" class="modal-container">
        <div class="modal-container-bg"  v-on:click="close"></div>
        <div class="modal">
            <img class="modal-close-btn" src='@/assets/icons/close_icon.svg' v-on:click="close">


            <div class="modal-header mb-3">
                <h4>
                    {{wording.header.delete}}
                </h4>
            </div>

            <div v-if="instance.deletable" style="width:100%;" >
                <div class="modal-body" >
                    <p class="lead">{{wording.message.approve_delete}} <strong>{{ instance.name }}</strong>?</p>
                </div>
                <div class="modal-footer mt-3">
                    <button type="button" class="btn btn-outline-danger btn-lg pl-5 pr-5" v-on:click="close">{{wording.button.cancel}}</button>
                    <button
                            type="submit"
                            class="btn btn-success btn-lg pl-5 pr-5"
                            v-on:click.prevent="saveInstance"
                            :disabled="submitDisabled"


                    >
                        <span
                            class="spinner-grow spinner-grow-sm"
                            style="vertical-align: baseline;
                            margin-bottom: -2px;"
                            role="status"
                            aria-hidden="true"
                            v-if="submitDisabled"
                        ></span>
                        <i class="fas fa-trash"></i> {{wording.button.delete}}</button>
                </div>
            </div>
            <div v-else >
                <div class="modal-body"  >
                    <p class="lead">{{wording.message.not_deletable}} </p>
                </div>
                <div class="modal-footer  mt-3">
                    <button type="button" class="btn btn-outline-danger btn-lg pl-5 pr-5" v-on:click="close">{{wording.button.cancel}}</button>
                </div>
            </div>
        </div>
    </section>
</template>

<script>

import axios from 'axios'
import $ from "jQuery";

export default {
    props: [
        'wording'
    ],
    data(){
        return{
            instance:{},
            instanceDefault: {
                status: 0,
                mycompany: 1,
                subcontractor_role: 0,
                type: 0,
                prolongationType: 0,

            },
            urlExtra:"/docs/api/accounting/extra/",
            urlList:"/docs/api/accounting/",
            showModal: false,
            message: {},
            submitDisabled: false,
        }
    },
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    methods:{
        show(el){
            this.instance  = {};

            this.instance = {
                "id": el,
            };
            axios({
                method: 'get',
                url: this.urlList + this.instance.id + "/",
            })
            .then(response => {
                this.instance = response.data;
                this.showModal = true
                $("body").attr('class', 'modalopen')
                })
            .catch(function (response) {
                console.log(response);
            });

        },
        close(){
            this.showModal = false
            $("body").removeClass('modalopen')
        },
        saveInstance: function () {
            axios({
                method: 'delete',
                url: this.urlList + this.instance.id + "/",
                data: this.instance,
            })
            .then(response => {
                this.message = {
                    status: 'success',
                    text: this.wording.message.deleted,
                };
                this.$emit('send-message', this.message);
                this.$emit('update-list');
                this.submitDisabled = false;
                this.close()

            })
            .catch(error => {
                this.message = {
                    status: 'error',
                    text: 'Ошибка',
                };
                this.$emit('send-message', this.message);
                console.log(error.response);
            });
        },
    },
}
</script>

