<template>
    <tr class="multifilters" >

        <td class="no margin-1">
            <v-select
                    v-if="extra"
                    v-model="filterParam.type"
                    :options="extra.type"
                    label="name"
                    :reduce="name => name.id"
            >
            </v-select>
        </td>
        <td class="no margin-1">
            <input type="text" class="ui-border ui-radius-both heigh-1" v-model="filterParam.name" >
        </td>
        <td class="no margin-1">
            <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.dateSignFrom" > -
            <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.dateSignTo" >
        </td>
        <td class="no margin-1">
            <select multiple class="multiselect" size="8" v-model="filterParam.status" v-if="extra">
                <option v-for="item in extra.status" :key="item.id" :value="item.id" >{{item.name}}</option>
            </select>
        </td>
        <td class="no margin-1">
            <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.dateStatusFrom" > -
            <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.dateStatusTo" >
        </td>
        <td class="no margin-1" >
            <v-select
                    v-if="extra"
                    v-model="filterParam.agreement"
                    :options="extra.agreements"
                    label="name"
                    :reduce="name => name.id"
            >
            </v-select>
        </td>
        <td class="no margin-1" >
            <v-select
                    v-if="extra"
                    v-model="filterParam.subcontractor"
                    :options="extra.subcontractors"
                    label="name"
                    :reduce="name => name.id"
            >
            </v-select>
        </td>
        <td class="no margin-1">
            <select multiple class="multiselect" size="8" v-model="filterParam.mycompany" v-if="extra">
                <option v-for="item in extra.mycompany" :key="item.id" :value="item.id" >{{item.name}}</option>
            </select>
        </td>
        <td class="no margin-1">
            <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.datePeriodStartFrom" > -
            <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.datePeriodStartTo" >
        </td>
        <td class="no margin-1">
            <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.datePeriodEndFrom" > -
            <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.datePeriodEndTo" >
        </td>

        <td class="no margin-1">
            <select multiple class="multiselect" size="8" v-model="filterParam.hasAttachments"  v-if="extra">
                <option value="1" >Да</option>
                <option value="0" >Нет</option>
            </select>
        </td>

        <td class="no margin-1">
            <select multiple class="multiselect" size="8" v-model="filterParam.hasScan"  v-if="extra">
                <option value="1" >Да</option>
                <option value="0" >Нет</option>
            </select>
        </td>

        <td class="no margin-1">
            <select multiple class="multiselect" size="8" v-model="filterParam.hasSrc"  v-if="extra">
                <option value="1" >Да</option>
                <option value="0" >Нет</option>
            </select>
        </td>

        </tr>
</template>

<script>
import axios from 'axios'
import vSelect from 'vue-select'

export default {
    props: [
    ],
    components: {
        'v-select': vSelect,
    },
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    mounted(){
        this.filterParam = JSON.parse(JSON.stringify(this.defaultFilterParam))
        this.getExtra();
    },
    data(){
        return{
            defaultFilterParam:{
                'status':[],
                'subcontractorRole':[],
                'mycompany':[],
                'hasAttachments':[],
                'hasScan':[],
                'hasSrc':[],
            },
            filterParam:{},
            extra:null,
            url:"/docs/api/accounting/extra",
        }
    },
    methods:{
        getExtra(){
            axios({
                method: 'get',
                url: this.url,
            })
            .then(response => {
                this.extra = response.data.extra;
            })
        },
        clean(){
            this.filterParam = JSON.parse(JSON.stringify(this.defaultFilterParam))
        },
    },
    watch:{
        filterParam:{
            deep: true,
            handler: function (newValue) {
                this.$emit('update:filter-param', newValue);
            },
        },
    },
}
</script>


