<template>
    <tbody>
        <tr
                v-for="el in instances"
                :key="el.id"
        >
            <td class="normal align-middle">{{ el.type_display }}</td>
            <td class="normal align-middle">
                  <div class="d-flex flex-nowrap justify-content-between pr-2 align-items-center" >
                      <div>
                          <span>{{ el.name }}</span>
                      </div>

                        <div>
                            <span class="normal">
                                <button type="button" class="btn btn-sm btn-link" style="min-height: 25px;"
                                        v-on:click="$emit('update-instance', el.id)">
                                    <i class="far fa-pencil"></i>
                                </button>
                            </span>
                            <span class="normal">
                                <button type="button" class="btn btn-sm btn-link px-0" style="min-height: 25px;"
                                        v-on:click="$emit('delete-instance', el.id)">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </span>
                        </div>


                </div>
            </td>
            <td class="normal align-middle">{{ el.signed_at | toDate  }}</td>
            <td class="normal align-middle">{{ el.status_display }}</td>
            <td class="normal align-middle">{{ el.status_date | toDate  | toNone}}</td>
            <td class="normal align-middle">{{ el.agreement_display }}</td>
            <td class="normal align-middle">{{ el.subcontractor_display }}</td>
            <td class="normal align-middle">{{ el.mycompany_display}}</td>
            <td class="normal align-middle">{{ el.covered_period_from | toDate | toNone }}</td>
            <td class="normal align-middle">{{ el.covered_period_till | toDate | toNone}}</td>
            <td class="normal align-middle">{{ el.has_attachment_display  | toNone}}</td>
            <td class="normal align-middle">{{ el.has_scan_display  | toNone}}</td>
            <td class="normal align-middle">{{ el.has_src_display  | toNone}}</td>
        </tr>
    </tbody>
</template>

<script>
import axios from 'axios'

export default {
    props: [
        'paginator',
        'filterParam'
    ],
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    mounted(){
    },
    data(){
        return{
            instances:{},
            url:"/docs/api/accounting/",

        }
    },
    computed:{
        isReady(){
            if (Object.keys(this.paginator).length !==0 && Object.keys(this.filterParam).length !==0){
                return true
            } else{
                return false
            }
        },
    },
    methods:{
        getInstanceAll() {
            this.$emit('isloading');
            axios({
                method: 'get',
                url: this.url,
                params: {
                    offset: this.paginator.paginationOffset,
                    page: this.paginator.activePage,
                    filter:this.filterParam,
                }
            })
            .then(response => {
                this.instances = response.data.list;
                this.paginator.pages = response.data.total_pages;
                if (this.paginator.pages < this.paginator.activePage){
                    this.paginator.activePage = 1;
                }
                this.$emit('isloaded');
            })
        },
    },
    watch:{
        isReady:function(newValue){
            if(newValue){
                this.$emit('isready');
            }
        }
    },
}
</script>

