<template>
    <div>
        <div class="upload-container" v-cloak @drop.prevent="addFile" @dragover.prevent v-on:click="openFileUploader">
            <div v-if="isLoading === 0">Нажмите, чтобы загрузить или просто перенесите файлы</div>
            <div v-else>Файлы еще загружаются </div>

            <input  type='file' v-on:change="onFileChange" ref="uploadfiles" multiple hidden/>
        </div>
        <div v-for="file in files">
            <select class="small-select" v-if="extra" v-model="file.type">
                <option v-for="item in extra.filetypes" :key="item.id" :value="item.id" >{{item.name}}</option>
            </select>
            <a target="_blank" :href="file.path">{{ file.filename }} </a><button @click.prevent="removeFile(file)" title="Remove"><i class="far fa-times icon"></i></button>
        </div>
    </div>

</template>

<script>


import axios from 'axios'

export default {
    props: [
        'extra',
        'urlFiles',
        'id',
        'isLoading',
    ],
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    mounted(){
        this.getFiles()
    },
    data(){
        return{
            files:[],
            deleteList:[],
        }
    },
    methods:{
        getFiles(){
            axios({
                method: 'get',
                url:  this.urlFiles + this.id + "/",
            })
            .then(response => {
                this.files = response.data;
            })
        },
        onFileChange(e) {
            var droppedFiles = e.target.files || e.dataTransfer.files;
            if (!droppedFiles.length){
                return;
            }
            ([...droppedFiles]).forEach(f => {
                this.files.push({
                   filename: f.name,
                   file: f,
                   type: 0,
                });
            });

        },
        addFile(e) {
            let droppedFiles = e.dataTransfer.files;
            if(!droppedFiles) return;
            // this tip, convert FileList to array, credit: https://www.smashingmagazine.com/2018/01/drag-drop-file-uploader-vanilla-js/
            ([...droppedFiles]).forEach(f => {
                this.files.push({
                   filename: f.name,
                   file: f,
                   type: 0,
                });
            });
            console.log(this.files)
        },
        removeFile(file){
            this.files = this.files.filter(f => {
                return f != file;
            });
            this.deleteList.push(file)
        },
        openFileUploader(){
            this.$refs.uploadfiles.click()
        },
    },
    watch:{
        files:{
            deep: true,
            handler: function (newValue) {
                this.$emit('update:files', newValue);
            },
        },
        deleteList:{
            deep: true,
            handler: function (newValue) {
                this.$emit('update:delete-list', newValue);
            },
        },
    },
}
</script>


