<template>
  <div id="app">
    <v-menu></v-menu>
    <router-view/>
  </div>
</template>

<script>
import Menu from '@/components/global/Menu.vue'
import _ from "lodash";

export default {
  name: 'Home',
  components: {
    'v-menu': Menu,

  },
  mounted(){
      this.$nextTick(()=>document.body.classList.remove('app-mounting'));
  },

}
</script>

<style lang="scss">
  @import "@/scss/global.scss";
</style>