//=============Лоадер ==================


.loaderArea {
  background: #2f4c98;
  overflow: hidden;
  position: fixed;
  left: 200px;
  top: 0;
  right:0;
  bottom:0;
  z-index: 100000;
}

.loader{
    position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

}