.upload-container{
  width:100%;
  height:100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size:12px;
  border: dashed 1px gray;
  background-color: white;
  margin-bottom: 30px;
}
.upload-container:hover{
    background-color: #F8F8F8;

}
button{
  border:0;
  appearance: none;
  background: transparent;
}

.icon{
  width:30px;
}


.small-select{
  width: 100px;
  margin-right:  30px;
  margin-bottom:  15px;
}