<template>
    <div>
        <transition name="messages">
            <div
                v-if="text"
                class="messages"
            >
                <div
                    colspan="25" class="alert" role="alert"
                    v-bind:class="status"
                >
                    <button type="button" class="close  ml-3"
                        v-on:click="close"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <span v-html="text"></span>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
export default {
    data(){
        return{
            text:null,
            status:''
        }
    },
    methods:{
        show: function (message) {
            if(message) {
                    if (message.status === "success"){
                        this.status = 'alert-success'
                    }
                    if (message.status === "error"){
                        this.status = 'alert-danger'
                    }
                    this.text = message.text;
                    setTimeout(this.close, 3000)
            }
        },
        close(){

            this.text = null
            this. status = ''
        },
    },
}
</script>
